// rem size units: better support for accessiblity, so they can customize 
//their own font size
* {
    //creates the height to be exactly as specified including padding
    //vs content-box, the default which adds paddding to the given dimensions
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

// this sets up the cursor to appear when over an active button, and return when
// over a disabled button
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}
